<div class="card">
  <div class="card__header">
    <h1 class="card__title">Clip-Path Effects</h1>
    <p class="card__link-to-code"><a href="{{ site.baseurl }}/code-extracts/clip-path-effects.html">View
        Source Code</a></p>
  </div>

  <div class="card__link-display-container">
    <div class="card__link-container">
      <a class="card__link link--arrow-clip-path" href="#">Arrow effect</a>
      <a class="card__link link--jagged-clip-path" href="#">Jagged effect</a>
      <a class="card__link link--fine-blinds-clip-path" href="#">Blind effect</a>
    </div>
    <div class="card__paragraph-container">
      <p>Here's <a href="#" class="link--jagged-clip-path">a paragraph</a> to test out the link effect over
        multiple lines of text. <a href="#" class="link--arrow-clip-path">Here is an extended length version of the
          link which displays slightly awkwardly because of how long it is.</a> The effect doesn't display that well for longer links in small width containers, please use it
          <a href="#" class="link--fine-blinds-clip-path">very carefully</a>.</p>
    </div>
  </div>
</div>