<div class="card" id="highlight-background-section">
  <div class="card__header">
    <h1 class="card__title">Highlight with Background</h1>
    <p class="card__link-to-code"><a href="{{ site.baseurl }}/code-extracts/highlight-with-background.html">View Source
        Code</a></p>
  </div>

  <div class="card__link-display-container">
    <div class="card__link-container">
      <a class="card__link link--highlight-fade-in" href="#highlight-background-section">Simple fade in</a>
      <a class="card__link link--highlight-from-strikethrough" href="#highlight-background-section">Strikethrough</a>
      <a class="card__link link--highlight-from-bottom-border" href="#highlight-background-section">Bottom border</a>
    </div>
    <div class="card__paragraph-container">
      <p>Here's a <a class="link--highlight-fade-in" href="#highlight-background-section">paragraph</a> to test out the link effect over multiple
        lines of text. <a href="#highlight-background-section" class="link--highlight-from-bottom-border">Here is an extended length version of the
          link which displays slightly awkwardly because of how long it is.</a> These effects display well for longer
        links in <a href="#highlight-background-section" class="link--highlight-from-strikethrough">small width containers</a>.</p>
    </div>
  </div>
</div>