<div class="card">
  <div class="card__header">
    <h1 class="card__title">Highlight with Mix‑Blend‑Mode</h1>
    <p class="card__link-to-code"><a href="/code-extracts/highlight-with-mix-blend-mode.html">View Source Code</a></p>
  </div>

  <div class="card__link-display-container">
    <div class="card__link-container">
      <a class="card__link link--highlight-from-right" href="#">Fill from right</a>
      <a class="card__link link--highlight-from-left" href="#">Fill from left</a>
      <a class="card__link link--highlight-from-top" href="#">Fill from top</a>
      <a class="card__link link--highlight-from-bottom" href="#">Fill from bottom</a>
    </div>
    <div class="card__paragraph-container">
      <p>Here's a paragraph to test out the link effect over multiple lines of text. <a href="#" class="link--highlight-from-left">Here is an extended length version of the link which displays slightly awkwardly because of how long it is.</a> The effect doesn't display perfectly for longer links in small width containers, please use it carefully.</p>
    </div>
  </div>
</div>