<div class="card">
  <div class="card__header">
    <h1 class="card__title">Highlight from Background</h1>
    <p class="card__link-to-code"><a href="/code-extracts/highlight-with-background.html">View Source Code</a></p>
  </div>

  <div class="card__link-display-container">
    <div class="card__link-container">
      <a class="card__link link--highlight-fade-in" href="#">Fade in effect</a>
      <a class="card__link link--highlight-from-strikethrough" href="#">Strikethrough</a>
      <a class="card__link link--highlight-from-bottom-border" href="#">Bottom border</a>
    </div>
    <div class="card__paragraph-container">
      <p>Here's a paragraph to test out the link effect over multiple lines of text. <a href="#" class="link--highlight-from-bottom-border">Here is an extended length version of the link which displays slightly awkwardly because of how long it is.</a> The effect displays well for longer links in small width containers.</p>
    </div>
  </div>
</div>