<div class="section">
  <h1 class="section__title"><a class="section__title-link" href="#link-effects">#</a> Inline Block Effects</h1>
  <p class="section__disclaimer">These effects cause a line break if the link gets too long. Please use with care.</p>

  <div class="section__links">
    <a class="link link--highlight-from-right" href="https://github.com/jhancock532/link-hover-effects/blob/master/_sass/link-styles/_highlight-mix-blend-mode.scss">Fill from right</a>
    <a class="link link--highlight-from-left" href="https://github.com/jhancock532/link-hover-effects/blob/master/_sass/link-styles/_highlight-mix-blend-mode.scss">Fill from left</a>
    <a class="link link--highlight-from-top" href="https://github.com/jhancock532/link-hover-effects/blob/master/_sass/link-styles/_highlight-mix-blend-mode.scss">Fill from top</a>
    <a class="link link--highlight-from-bottom" href="https://github.com/jhancock532/link-hover-effects/blob/master/_sass/link-styles/_highlight-mix-blend-mode.scss">Fill from bottom</a>
    <a class="link link--arrow-clip-path" href="https://github.com/jhancock532/link-hover-effects/blob/master/_sass/link-styles/_clip-path-effects.scss">Arrow effect</a>
    <a class="link link--jagged-clip-path" href="https://github.com/jhancock532/link-hover-effects/blob/master/_sass/link-styles/_clip-path-effects.scss">Jagged effect</a>
    <a class="link link--fine-blinds-clip-path" href="https://github.com/jhancock532/link-hover-effects/blob/master/_sass/link-styles/_clip-path-effects.scss">Blind effect</a>
  </div>
</div>

