<div class="section" id="inline-block-effects">
  <h1 class="section__title"><a class="section__title-link" href="#inline-block-effects">#</a> Inline Block Effects</h1>
  <p class="section__disclaimer">These effects can cause a line break in your paragraph if the link is too long.</p>

  <div class="section__links">
    <a class="link link--highlight-from-right" href="https://github.com/jhancock532/link-hover-effects/blob/master/_sass/link-styles/_highlight-mix-blend-mode.scss">Fill from right</a>
    <a class="link link--highlight-from-left" href="https://github.com/jhancock532/link-hover-effects/blob/master/_sass/link-styles/_highlight-mix-blend-mode.scss">Fill from left</a>
    <a class="link link--highlight-from-top" href="https://github.com/jhancock532/link-hover-effects/blob/master/_sass/link-styles/_highlight-mix-blend-mode.scss">Fill from top</a>
    <a class="link link--highlight-from-bottom" href="https://github.com/jhancock532/link-hover-effects/blob/master/_sass/link-styles/_highlight-mix-blend-mode.scss">Fill from bottom</a>
    <a class="link link--arrow-clip-path" href="https://github.com/jhancock532/link-hover-effects/blob/master/_sass/link-styles/_clip-path-effects.scss">Arrow effect</a>
    <a class="link link--jagged-clip-path" href="https://github.com/jhancock532/link-hover-effects/blob/master/_sass/link-styles/_clip-path-effects.scss">Jagged effect</a>
    <a class="link link--fine-blinds-clip-path" href="https://github.com/jhancock532/link-hover-effects/blob/master/_sass/link-styles/_clip-path-effects.scss">Blind effect</a>
    <a class="link link--transform-underline-from-middle" href="https://github.com/jhancock532/link-hover-effects/blob/master/_sass/link-styles/_transform-underline-pseudoelement.scss">Underline from middle</a>
    <a class="link link--transform-underline-slide-over-left" href="https://github.com/jhancock532/link-hover-effects/blob/master/_sass/link-styles/_transform-underline-pseudoelement.scss">Underline slide left</a>
    <a class="link link--transform-underline-slide-over-right" href="https://github.com/jhancock532/link-hover-effects/blob/master/_sass/link-styles/_transform-underline-pseudoelement.scss">Underline slide right</a>
    <a class="link link--transform-underline-pop-up" href="https://github.com/jhancock532/link-hover-effects/blob/master/_sass/link-styles/_transform-underline-pseudoelement.scss">Underline pop up</a>
    <a class="link link--fire-gif-pseudoelement" href="https://github.com/jhancock532/link-hover-effects/blob/master/_sass/link-styles/_fire-gif-background.scss">Fire GIF Pseudoelement</a>
  </div>

  
  <details class="section__attribution">
    <summary class="section__attribution-title">Code Attribution</summary>
    <p class="section__attribution-text">"Underline slide left" is a derivative of <a href="https://sld.codes/">Sam Larsen-Disney's</a> "<a href="https://sld.codes/">Site Navbar Link</a>". "Underline pop up" is a derivative of <a href="http://eli.wtf/">Eli Fitch's</a> "<a href="http://eli.wtf/">Site Link Hover</a>". All attributions licensed under <a href="https://creativecommons.org/licenses/by/4.0/">CC BY 4.0</a>.</p>
  </details>
  
</div>

