<div class="section" id="link-effects">
  <h1 class="section__title"><a class="section__title-link" href="#link-effects">#</a> Link Effects</h1>

  <div class="section__links">
    <a class="link link--background-underline-from-left" href="https://github.com/jhancock532/link-hover-effects/blob/master/_sass/link-styles/_background-underline-slide.scss">Slide from left</a>
    <a class="link link--background-underline-from-right" href="https://github.com/jhancock532/link-hover-effects/blob/master/_sass/link-styles/_background-underline-slide.scss">Slide from right</a>
    <a class="link link--background-underline-from-strikethrough" href="https://github.com/jhancock532/link-hover-effects/blob/master/_sass/link-styles/_background-underline-slide.scss">Strikethrough slide</a>
    <a class="link link--highlight-fade-in" href="https://github.com/jhancock532/link-hover-effects/blob/master/_sass/link-styles/_highlight-background.scss">Simple fade highlight</a>
    <a class="link link--highlight-from-strikethrough" href="https://github.com/jhancock532/link-hover-effects/blob/master/_sass/link-styles/_highlight-background.scss">Strikethrough highlight</a>
    <a class="link link--highlight-from-bottom-border" href="https://github.com/jhancock532/link-hover-effects/blob/master/_sass/link-styles/_highlight-background.scss">Bottom border highlight</a>
    <a class="link link--multi-gradient-fill" href="https://github.com/jhancock532/link-hover-effects/blob/master/_sass/link-styles/_multiple-background-gradients.scss">Multiple gradient fill</a>
    <a class="link link--background-crossover" href="https://github.com/jhancock532/link-hover-effects/blob/master/_sass/link-styles/_multiple-background-gradients.scss">Background crossover</a>
    <a class="link link--four-color-background" href="https://github.com/jhancock532/link-hover-effects/blob/master/_sass/link-styles/_multiple-background-gradients.scss">Four color background</a>
    <a class="link link--svg-sine-wave" href="https://github.com/jhancock532/link-hover-effects/blob/master/_sass/link-styles/_svg-animations.scss">SVG sine wave</a>
    <a class="link link--svg-large-sine-wave" href="https://github.com/jhancock532/link-hover-effects/blob/master/_sass/link-styles/_svg-animations.scss">SVG large sine wave</a>
    <a class="link link--svg-square-wave" href="https://github.com/jhancock532/link-hover-effects/blob/master/_sass/link-styles/_svg-animations.scss">SVG square wave</a>
    <a class="link link--popup-text" href="https://github.com/jhancock532/link-hover-effects/blob/master/_sass/link-styles/_popup-text.scss">Popup text</a>
  </div>

  <div class="section__attribution">
    <h3 class="section__attribution-title">Code Attribution</h3>
    <p class="section__attribution-text">
      "Slide from left" is a derivative of <a href="https://codepen.io/colinhorn">Colin Horn's</a> "<a href="https://codepen.io/colinhorn/pen/YxYYMj">Gradient Underline Animation</a>".
      "SVG sine wave" is a derivative of <a href="https://codepen.io/geoffgraham">Geoff Graham's</a> "<a href="https://codepen.io/geoffgraham/pen/bxEVEN">Link Effectz - Squiggle</a>".
      All attributions licensed under <a href="https://creativecommons.org/licenses/by/4.0/">CC BY 4.0</a>.</p>
  </div>
</div>

