<div class="card" id="multiple-background-gradients-section">
  <div class="card__header">
    <h1 class="card__title">Multiple Background Gradients</h1>
    <p class="card__link-to-code"><a href="{{ site.baseurl }}/code-extracts/multiple-background-gradients.html">View
        Source Code</a></p>
  </div>

  <div class="card__link-display-container">
    <div class="card__link-container">
      <a class="card__link link--four-color-background" href="#multiple-background-gradients-section">Four color background</a>
      <a class="card__link link--multi-gradient-fill" href="#multiple-background-gradients-section">Multiple gradient fill</a>
      <a class="card__link link--background-crossover" href="#multiple-background-gradients-section">Background crossover</a>
    </div>
    <div class="card__paragraph-container">
      <p>Here's <a href="#multiple-background-gradients-section" class="link--multi-gradient-fill">a paragraph</a> to test out the link effect over multiple
        lines of text. <a href="#multiple-background-gradients-section" class="link--four-color-background">Here is an extended length version of the link
          which displays slightly awkwardly because of how long it is.</a> These effects display <a
          class="link--background-crossover" href="#multiple-background-gradients-section">a bit poorly for longer links</a>.</p>
    </div>
  </div>
</div>