<div class="section" id="multi-element-effects">
  <h1 class="section__title"><a class="section__title-link" href="#multi-element-effects">#</a> Multi Element Effects</h1>
  <p class="section__disclaimer">These effects require multiple HTML elements to work, adapt with caution.</p>

  <div class="section__links">
    {% include links/fill-up-transform.html %}
    {% include links/cube-rotation.html %}
    {% include links/split-in-half.html %}
  </div>

  <details class="section__attribution">
    <summary class="section__attribution-title">Code Attribution</summary>
    <p class="section__attribution-text">"Fill Up Transform" is a derivative of <a href="https://www.craftedbygc.com/">Green Chameleon's</a> "<a href="https://shapestudio.co.uk/">Next Project Link</a>".</p>
  </details>
  
</div>

