
<div class="cta-card">
  <div class="cta-card__header">
      <h1 class="cta-card__title">Support This Project</h1>
  </div>
  <div class="cta-card__content">
    <p class="cta-card__link"><a href="https://github.com/jhancock532/link-hover-effects">Star the GitHub repository</a></p>
    <p class="cta-card__link"><a href="https://twitter.com/intent/tweet?text=Check out https://jhancock532.github.io/link-hover-effects/ for some neat CSS hover effects!">Share on Twitter</a></p>
  </div>
</div>

<p class="cta-card__credits">Developed by James Hancock</p>
<p class="cta-card__social-links"><a href="https://twitter.com/jhancock532">Twitter</a> | <a href="https://github.com/jhancock532">GitHub</a> | <a href="https://codepen.io/jhancock532">CodePen</a></p>
