body {
  margin: 0;
  background: $color--white;
}

p,
a,
li,
h1,
h2,
h3,
h4,
h5 {
  font-family: $font-primary;
}

p {
  font-size: $font-size--paragraph-mobile;
  line-height: 1.4em;

  @include media-query(sm){
    font-size: $font-size--paragraph;
  }
}

::selection {
  color: $color--black;
  background: $color--primary;
}

a {
  color: $color--secondary;

  &:visited {
    color: $color--secondary;
  }
}
