/* Layout */

$grid: 20px;

$media-query-breakpoints: (
  sm: 640px,
  md: 900px,
  lg: 1200px,
);

/* Color Scheme */

$color--black: rgb(0, 0, 0);
$color--grey: rgb(150, 160, 161);
$color--white: rgb(255, 255, 255);

$color--dark-blue: rgb(7, 42, 200);
$color--blue: rgb(30, 150, 252);
$color--light-blue: rgb(162, 214, 249);
$color--yellow: rgb(252, 243, 0);
$color--dark-yellow: rgb(255, 189, 0);

$color--primary: $color--yellow;
$color--secondary: $color--dark-blue;

/* Typography */

//Nanum Gothic
@font-face {
  font-family: "Nanum Gothic";
  src: url("/link-hover-effects/assets/fonts/Nanum_Gothic/NanumGothic-Regular.ttf");
}

@font-face {
  font-family: "Nanum Gothic";
  src: url("/link-hover-effects/assets/fonts/Nanum_Gothic/NanumGothic-ExtraBold.ttf");
  font-weight: 700;
}

$font-primary: Nanum Gothic, Helvetica, Sans-serif;

$font-size--heading: 46px;
$font-size--heading-mobile: 34px;
$font-size--subheading: 28px;
$font-size--paragraph: 20px;
$font-size--paragraph-mobile: 18px;

.bold {
  font-weight: 700;
}

$underline-height: 0.3ex;
$thick-underline-height: 0.4ex;