.link {
  &--background-underline-from-right {
    padding-bottom: 0.2ex;
    background-image: linear-gradient(
      to right,
      transparent 0%,
      transparent 50%,
      $color--secondary 50%,
      $color--secondary 100%
    );
    background-size: 200% $underline-height;
    background-repeat: no-repeat;
    background-position: left bottom;
    transition: background-position 0.36s ease-in-out;

    &:hover {
      background-position: right bottom;
    }
  }

  &--background-underline-from-left {
    padding-bottom: 0.2ex;
    background-image: linear-gradient($color--secondary, $color--secondary);
    background-size: 0% $underline-height;
    background-repeat: no-repeat;
    background-position: left bottom;
    transition: background-size 0.36s ease-in-out;

    &:hover {
      background-size: 100% $underline-height;
    }
  }

  &--background-underline-from-strikethrough {
    padding-bottom: 0.2ex;
    background-image: linear-gradient($color--secondary, $color--secondary);
    background-size: 100% $underline-height;
    background-repeat: no-repeat;
    background-position: left 58%;
    transition: background-position 0.36s ease-in-out;

    &:hover {
      background-position: left bottom;
    }
  }
}
