.link {

  //CodePen demo available at https://codepen.io/jhancock532/pen/PoKzNVO

  &--cube-rotation {
    position: relative;
    display: inline-block;
    line-height: 1em;
    font-size: 2em;

    &__top {
      display: inline-block;
      position: absolute;
      top: 0;
      transform: translateY(-50%) rotateX(90deg);
      transition: transform 0.6s ease;
    }
  
    &__front {
      display: inline-block;
      transform: translateZ(0.5em);
      transition: transform 0.6s ease;
      text-decoration: underline;
    }
  
    &:hover .link--cube-rotation__top {
      transform: translateY(0) translateZ(0.5em);
      color: black;
    }
    
    &:hover .link--cube-rotation__front {
      transform: translateY(50%) rotateX(-90deg);
    }

  }
}