.link {
  &--fill-up-transform {

    //This effect uses overflow: hidden; to clip the text perfectly
    //View a debug explainer, with CSS source code & reference, at 
    //https://codepen.io/jhancock532/pen/poryrjR

    position: relative;
    color: transparent;
    z-index: 2;
    font-weight: bold;
    text-decoration: underline;
    font-size: 2em;

    &__outline {
      color: $color--secondary;
      color: transparent;
      -webkit-text-stroke: 1px $color--secondary;
      background-image: linear-gradient(transparent 0%, transparent calc(50% - 0.4ex), #fcf300 calc(50% - 0.4ex), #fcf300 100%);
      background-size: 100% 200%;
      background-position: 0 0;
    }

    &__clip {
      display: block;
      transition: transform 1.0s cubic-bezier(.19,1,.22,1);
      overflow: hidden;
      position: absolute;
      top: 0;
      transform: translateY(100%);
      pointer-events: none; 
    }

    &__filled {
      display: block;
      transition: transform 1.0s cubic-bezier(.19,1,.22,1);
      color: $color--secondary;
      transform: translateY(-100%);
    }

    &:hover .link--fill-up-transform__clip,
    &:hover .link--fill-up-transform__filled {
      transform: translateY(0);
    }

  }
}