.link {
  &--highlight-fade-in {
    padding: 1px 0;
    background-color: transparent; 
    transition: background-color 240ms ease-in-out;
    
    &:hover, &:active {
      background-color: $color--primary;
    }
  }

  &--highlight-from-strikethrough {
    padding: 1px 0;
    text-decoration: none;
    background-image: linear-gradient(transparent 0%, transparent calc(50% - 1px), 
                                      $color--primary calc(50% - 1px), $color--primary calc(50% + 5px), 
                                      transparent calc(50% + 5px), transparent 100%);
    background-color: transparent; 
    transition: background-color 240ms ease-in-out;

    &:hover, &:active {
      background-color: $color--primary;
    }
  }

  &--highlight-from-bottom-border {
    padding: 1px 0;
    text-decoration: none;
    background-image: linear-gradient(transparent 0%, transparent calc(50% - 6px), 
                                      $color--primary calc(50% - 6px), $color--primary 100%);
    background-size: 100% 200%;
    background-position: 0 0;
    transition: background-position 120ms ease-in-out;
    
    &:hover, &:active {
      background-position: 0 100%;
    }
  }
}