.homepage {
  &__title {
    margin: $grid auto 0 auto;
    font-size: $font-size--heading-mobile;
    line-height: 1em;

    @include media-query(sm) {
      font-size: $font-size--heading;
      margin-top: $grid * 3;
    }

    @include media-query(md) {
      margin-top: $grid * 4;
    }
  }

  &__description {
    margin: $grid 0 $grid * 2 0;
  }
}
