.card {
  &__header {
    margin: $grid * 2 0 0 0;
    padding: $grid $grid / 2 $grid / 2;
    background-color: $color--light-grey;

    border: $card-border;
    border-bottom: none;
    border-top-right-radius: $card-border-radius;
    border-top-left-radius: $card-border-radius;

    @include media-query(sm) {
      margin: $grid * 2 0 0 0;
      padding: $grid;
      position: relative;
    }
  }

  &__title {
    margin: 0 $grid / 2 0 0;
    display: inline-block;
    @include font-size(xxl);
  }

  &__link-to-code {
    margin: $grid / 2 0;
    display: inline-block;
    @include font-size(m);

    @include media-query(sm) {
      margin: 0;
      position: absolute;
      right: $grid;
      bottom: $grid;
    }
  }

  &__link-display-container {
    border: $card-border;
    border-bottom-left-radius: $card-border-radius;
    border-bottom-right-radius: $card-border-radius;

    display: grid;
    grid-template-columns: 1fr;

    @include media-query(sm) {
      grid-template-columns: 50% 50%;
    }
    @include media-query(md) {
      grid-template-columns: 40% 60%;
    }
  }

  &__link {
    @include font-size(xl);
    font-family: $font-primary;

    margin-top: $grid * 2;
    &:first-child {
      margin-top: $grid * 2;
    }
    &:last-child {
      margin-bottom: $grid * 2;
    }

    @include media-query(sm) {
      margin: 0;
      &:first-child {
        margin-top: 0;
      }
      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &__paragraph-container {
    padding: $grid;
    display: flex;
    align-items: center;

    @include media-query(md) {
      padding: $grid * 2;
    }

    @include paragraph-styling();
  }

  &__link-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    min-height: 200px;
    border-bottom: 1px solid $color--grey;

    @include media-query(sm) {
      min-height: 300px;
      border-bottom: none;
      border-right: 1px solid $color--grey;
    }
  }
}
