.credits {
  margin-top: $grid * 3;

  @include media-query(md){
    margin-top: $grid * 4;
    margin-bottom: $grid * 2;
  }

  > p {
    font-size: $font-size--paragraph-mobile;
    margin: 10px 0;
  }
}