---
layout: page
---

<div class="code-display__header">
  <h1 class="code-display__title">{{ page.title }}</h1>
  <p class="code-display__subtitle">The code is written using <a href="https://sass-lang.com/documentation/syntax">the
      SCSS syntax</a> to be compiled with Sass. If you spot an error or improvement, please raise an issue on the GitHub
    repository.</p>
  <button class="button" onclick="window.history.back()">← Go Back</button>
</div>

<div class="code-display__container">
  {{ content }}
</div>

{% include support-this-project.html %}