<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="apple-touch-icon" sizes="180x180" href="{{ site.baseurl }}/assets/favicons/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ site.baseurl }}/assets/favicons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ site.baseurl }}/assets/favicons/favicon-16x16.png">
  <link rel="manifest" href="{{ site.baseurl }}/assets/favicons/site.webmanifest">
  <link rel="mask-icon" href="{{ site.baseurl }}/assets/favicons/safari-pinned-tab.svg" color="#072ac8">
  <link rel="shortcut icon" href="{{ site.baseurl }}/assets/favicons/favicon.ico">
  <meta name="msapplication-TileColor" content="#2b5797">
  <meta name="msapplication-config" content="{{ site.baseurl }}/assets/favicons/browserconfig.xml">
  <meta name="theme-color" content="#ffffff">

  <title>{{ page.title }}</title>

  <link rel="stylesheet" href="{{ site.baseurl }}/assets/styles/main.css" />
</head>

<body>
  {{ content }}
</body>

</html>